.btn-margin {
  margin: 7px 3px;
}

.container-fluid {
	background-color: black;
}

	.btn-margin {
	color: white;
}

.container {
	justify-content: flex-start;
}
.navbarLogo {
	display: inline-block!important;
	background-color: white;
}